<div class="my-container">
  <img src="https://www.healthimaging.com/sites/default/files/styles/media_image_mobile/public/2019-03/students_online.jpg?h=a9adcbfb&itok=rdE9cWiL">
  <h3>VEDIC SURVEY FORM</h3>
  <h4 class="fontst" style="padding-left: 38%;"><i>Thank you for taking time to help us improve the platform</i></h4>
  <div class="card">
    <br>
    <label class="fontstyle">Name</label><br>
    <input placeholder="Enter your name" />
    <br><br>

    <label class="fontstyle">Email</label><br>
    <input placeholder="Enter your Email" />
    <br><br>

    <label class="fontstyle">Age (optional)</label><br>
    <input placeholder="Age" />
    <br><br>

    <label class="fontstyle" for="employee">Which option best describes you the current role ?</label><br>
    <select id="employee">
      <option value="Associate">Associate</option>
      <option value="Student">Student</option>
      <option value="Other">Other</option>
    </select>
    <br><br>

    <label class="fontstyle">Would you recommend freeCodeCamp to a friend ?</label><br><br>
    <input type="radio" name="option" value="definitely"/><label class="fontstyle" style="padding-left: 52%;">Definitely</label>
      <input type="radio" name="option" value="not sure" > <label class="fontstyle" style="padding-left: 52%;">Not sure</label>
      <input type="radio" name="option" value="may be" class="fontstyle"><label class="fontstyle" style="padding-left: 52%;">May be</label>
    <br><br>


    <label class="fontstyle">What would you like to improve ?</label><br>
    <input type="checkbox" name="option" value="front end"/><label class="fontstyle" style="padding-left: 52%;">Front-end Projects</label>
      <input type="checkbox" name="option" value="back end" > <label class="fontstyle" style="padding-left: 52%;">Back-end Projects</label>
      <input type="checkbox" name="option" value="data visualization" class="fontstyle"><label class="fontstyle" style="padding-left: 52%;">Data Visualization</label>
      <input type="checkbox" name="option" value="Challenges" class="fontstyle"><label class="fontstyle" style="padding-left: 52%;">Challenges</label>
      <input type="checkbox" name="option" value="open source community" class="fontstyle"><label class="fontstyle" style="padding-left: 52%;">Open Source Community</label>
      <input type="checkbox" name="option" value="Gitter Help Rooms" class="fontstyle"><label class="fontstyle" style="padding-left: 52%;">Gitter Help Rooms</label>
      <input type="checkbox" name="option" value="Videos" class="fontstyle"><label class="fontstyle" style="padding-left: 52%;">Videos</label>
      <input type="checkbox" name="option" value="city meetups" class="fontstyle"><label class="fontstyle" style="padding-left: 52%;">City Meetups</label>
      <input type="checkbox" name="option" value="Wiki" class="fontstyle"><label class="fontstyle" style="padding-left: 52%;">Wiki</label>
      <input type="checkbox" name="option" value="Forum" class="fontstyle"><label class="fontstyle" style="padding-left: 52%;">Forum</label>
      <input type="checkbox" name="option" value="Additional Courses" class="fontstyle"><label class="fontstyle" style="padding-left: 52%;">Additional Courses</label>
    <br><br>

    <label class="fontstyle">Any comments or suggestions</label><br>
    <textarea placeholder="Enter your comments here"></textarea>
    <br><br><br><br>


    <button type="submit">Submit</button>


  </div>
</div>
