<h1>Sign In</h1>

<p><b>Name</b></p>
<input placeholder="Please Enter Your Name" />
<br>

<p><b>Age</b></p>
<input placeholder="Please Enter Your Age" />
<br>

<p><b>Mobile Number</b></p>
<input placeholder="Enter Your Mobile Number" />
<br>

<p><b>Comments</b></p>
<textarea></textarea>


<form>
  <p><b>Gender</b></p>
  <input type="radio" id="male" name="gender" value="Male">
  <label>Male<br></label>
  <input type="radio" id="female" name="gender" value="Female">
  <label>Female</label>
</form>
<br>

<p><b>Coding Languages You Know</b></p>
<form>
  <input type="checkbox" id="c" name="codingLanguages" values="C">
  <label>C <br></label>

  <input type="checkbox" id="c++" name="codingLanguages" values="C++">
  <label>C++<br></label>

  <input type="checkbox" id="java" name="codingLanguages" values="Java">
  <label>Java<br></label>

  <input type="checkbox" id="python" name="codingLanguages" values="Python">
  <label>Python<br></label>

  <input type="checkbox" id="javaScript" name="codingLanguages" values="javaScript">
  <label>Java Script<br></label>
</form>

<br><br><button type="submit">Submit</button><br><br>
<button type="reset">Reset</button>


