<html style="background-color: #D2CECE;">
  <div class="headingcolor">
    <h1 style="text-align: center; padding-bottom: 5%; padding-top: 5%;">Codinza SignIn Form</h1>
  </div>
  <div class="card">
    <input class="fields" placeholder="UserName" />
    <input class="fields" placeholder="Password" />
    <p style="color: #C9C5C5; padding-left: 40%;"><small>Forgot  <a style="color: rgba(88,184,70);" href="">Username / Password ?</a></small></p>
    <button><b>SIGN IN</b></button>
    <p style="color: #C9C5C5; padding-left: 35%; padding-top: 40%;"><i>Dont have an account?</i></p>
    <a style="color: rgba(88,184,70); padding-left: 40%;" href="">SIGN UP NOW</a>
    <br>
    <br>
  </div>
  <br>
  <br>
  <br>
</html>
